/*
	Project Name: Market Report Website
	Author: SudoSaints.com
	Company URL: http://sudosaints.com
	Description: This is a main Stylesheet for market research website.
*/
body {
	margin: 0 auto;
	padding: 0px;
	background: #f4f4f4;
}

* {
	margin: 0 auto;
	padding: 0px;
}

.container {
	width: 1024px;
	height: auto;
	/* box-shadow:0px 0px 2px #000; */
	margin: 0 auto;
}

#header-container {
	width: 100%;
	height: 100px;
	background: #f0f0f0;
}

#logo {
	width: 241px;
	height: 46px;
	float: left;
}

#logo img {
	margin-top: 20px;
}

#search-box {
	width: 364px;
	height: 40px;
	float: right;
	padding: 30px;
}

#search-box input[type="text"] {
	width: 300px;
	padding: 10px;
	float: left;
	text-transform: uppercase;
}

#navigation-container {
	width: 100%;
	height: 40px;
	background: #78ab9f;
}

.search-icon {
	width: 40px;
	height: 40px;
	float: left;
	background: #bc5959;
	float: right;
	border:none;
}

.search-icon img {
	padding: 7px;
}

#nav {
	width: 730px;
	height: 40px;
	float: right;
}

#nav ul li {
	list-style: none;
	float: left;
	color: #fff;
	width: auto;
	line-height: 40px;
}

#nav ul li a {
	padding: 12px 20px 10px 20px;
	text-decoration: none;
	font-family: arial;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	color: #fff;
}

#nav ul li ul li {
	color: #fff;
	width: 100%;
}

#nav ul li ul li:hover {
	color: #000;
	background: #fff;
	cursor: pointer;
}

#nav ul li ul li:hover a {
	color: #000;
}

#nav ul li ul {
	display: none;
}

#nav ul li:hover ul {
	display: block;
	color: #000;
	position: absolute;
	/* margin-top: 9px; */
	width: 200px;
	min-height: 200px;
	height: auto;
	background: #fff;
	/* box-shadow: 0px 2px 2px #999; */
	background: #78ab9f;
	border-left: 5px solid #77b3a5;
	border-right: 5px solid #77b3a5;
	border-bottom: 5px solid #77b3a5;
	cursor: pointer;
	z-index: 11;
}

.level-two ul {
	display: none;
}

.level-two ul li ul li:hover ul {
	display: block;
	color: #000;
	position: absolute;
	margin-top: 11px;
	margin-left: 150px;
	width: 200px;
	min-height: 200px;
	height: auto;
	background: #fff;
	/* box-shadow:0px 0px 2px #000; */
	cursor: pointer;
}

.level-two ul li ul li:hover ul a {
	color: #000;
}

.section-one {
	width: 100%;
	height: 351px;
	padding: 0px;
}

.top-desc {
	width: 38%;
	padding: 10px;
	float: left;
	font-family: arial;
	font-size: 12px;
}

.top-desc h1 {
	font-size: 20px;
}

#section-two {
	width: 99%;
	height: 675px;
	/* box-shadow:0px 0px 2px #ccc; */
	padding: 0px;
}

.box {
	width: 32.2%;
	height: 490px;
	float: left;
	box-shadow: 0px 0px 1px #000;
	margin-left: 8px;
}

.box-head {
	width: 100%;
	height: 40px;
	background: rgb(242, 242, 242); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(242, 242, 242, 1) 0%,
		rgba(232, 232, 232, 1) 100% ); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(242,
		242, 242, 1) ), color-stop(100%, rgba(232, 232, 232, 1) ) );
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(242, 242, 242, 1) 0%,
		rgba(232, 232, 232, 1) 100% ); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(242, 242, 242, 1) 0%,
		rgba(232, 232, 232, 1) 100% ); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(242, 242, 242, 1) 0%,
		rgba(232, 232, 232, 1) 100% ); /* IE10+ */
	background: linear-gradient(to bottom, rgba(242, 242, 242, 1) 0%,
		rgba(232, 232, 232, 1) 100% ); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#f2f2f2',
		endColorstr='#e8e8e8', GradientType=0 ); /* IE6-9 */
}

.box-head h1 {
	font-size: 14px;
	font-family: tahoma;
	font-weight: bold;
	color: #78ab9f;
	padding: 10px;
	width: 200px;
	float: left;
}

.box-head p {
	font-size: 10px;
	padding: 14px;
	float: right;
	color: #78ab9f;
}

.bottom-more {
	width: 100%;
	height: 30px;
	background: rgb(242, 242, 242); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(242, 242, 242, 1) 0%,
		rgba(232, 232, 232, 1) 100% ); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(242,
		242, 242, 1) ), color-stop(100%, rgba(232, 232, 232, 1) ) );
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(242, 242, 242, 1) 0%,
		rgba(232, 232, 232, 1) 100% ); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(242, 242, 242, 1) 0%,
		rgba(232, 232, 232, 1) 100% ); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(242, 242, 242, 1) 0%,
		rgba(232, 232, 232, 1) 100% ); /* IE10+ */
	background: linear-gradient(to bottom, rgba(242, 242, 242, 1) 0%,
		rgba(232, 232, 232, 1) 100% ); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#f2f2f2',
		endColorstr='#e8e8e8', GradientType=0 ); /* IE6-9 */
	box-shadow: 0px 0px 2px #ccc;
}

.bottom-more h1 {
	font-size: 11px;
	font-family: tahoma;
	/* font-weight: bold; */
	color: #bc5959;
	padding: 8px 0px 10px 10px;
	width: 200px;
	float: left;
}

.list-item {
	width: 90%;
	height: 60px;
	box-shadow: 0px 0px 1px #ccc;
	padding: 5px;
}

.list-item p,.list-item a {
	text-decoration: none;
	color: #000;
	font-family: arial;
	font-size: 12px;
	margin-top: 10px;
}

.categ p {
	margin-top: 2px;
	font-size: 10px;
	color: #474747;
}

#pop-pub {
	width: 200px;
	height: 30px;
	float: left;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	background: #f1f1f1;
	z-index: 1;
}

#pop-pub h3 {
	font-size: 14px;
	font-family: tahoma;
	font-weight: bold;
	color: #78ab9f;
	padding: 10px;
	width: 200px;
	float: left;
}

#pub-logos {
	width: 100%;
	height: 120px;
	border: 1px solid #ccc;
	background: #f1f1f1;
	z-index: 0;
	margin-top: -1px;
}

#footer-container {
	width: 100%;
	height: 100px;
	background: #f0f0f0;
	margin-top: 40px;
}

.sign-up-sec {
	width: 25%;
	height: 100px;
	float: left;
	/* box-shadow:0px 0px 1px #ccc; */
}

.sign-up-sec h1 {
	font-size: 12px;
	font-family: arial;
	color: #78ab9f;
	padding: 20px 0px 5px 15px;
}

.sign-up-sec input[type="email"] {
	padding: 8px;
	font-size: 10px;
	margin-left: 16px;
	width: 150px;
}

.sign-up-sec input[type="submit"] {
	padding: 8px;
	font-size: 10px;
	margin-left: -5px;
	background: #86c747;
	border: none;
	height: 32px;
	width: 32px;
	color: #fff;
	font-weight: bold;
}

.footer-box {
	width: 18%;
	height: 100px;
	float: left;
	/* box-shadow:0px 0px 1px #ccc; */
	margin-left: 7px;
}

.footer-box  h3 {
	font-size: 11px;
	font-family: arial;
	font-weight: bold;
	padding: 20px 0px 0px 20px;
}

.footer-box ul {
	padding: 2px 0px 10px 20px;
}

.footer-box ul li {
	list-style: none;
	font-size: 10px;
	font-family: arial;
}

.footer-box ul li a {
	text-decoration: none;
	font-size: 10px;
	font-family: arial;
	color: black;
}

.left-content {
	width: 70%;
	height: 600px;
	box-shadow: 0px 0px 2px #ccc;
	float: left;
	background: #fff;
}

.tabs {
	position: relative;
	margin: 20px auto;
	width: 700px;
}

.tabs input[type="radio"] {
	position: absolute;
	z-index: 10;
	width: 120px;
	height: 40px;
	left: 0px;
	top: 0px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity = 0);
	cursor: pointer;
}

.tabs input#tab-2 {
	top: 40px;
}

.tabs input#tab-3 {
	top: 80px;
}

.tabs input#tab-4 {
	top: 120px;
}

.tabs label {
	background: rgb(237, 237, 237); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(237, 237, 237, 1) 0%,
		rgba(224, 224, 224, 1) 100% ); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(237,
		237, 237, 1) ), color-stop(100%, rgba(224, 224, 224, 1) ) );
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(237, 237, 237, 1) 0%,
		rgba(224, 224, 224, 1) 100% ); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(237, 237, 237, 1) 0%,
		rgba(224, 224, 224, 1) 100% ); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(237, 237, 237, 1) 0%,
		rgba(224, 224, 224, 1) 100% ); /* IE10+ */
	background: linear-gradient(to bottom, rgba(237, 237, 237, 1) 0%,
		rgba(224, 224, 224, 1) 100% ); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#ededed',
		endColorstr='#e0e0e0', GradientType=0 ); /* IE6-9 */
	line-height: 40px;
	height: 40px;
	position: relative;
	padding: 0 5px;
	display: block;
	width: 114px;
	/* letter-spacing: 1px; */
	text-transform: uppercase;
	/* font-weight: bold; */
	text-align: left;
	float: left;
	clear: both;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
	border-radius: 3px 0 0 3px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
	color: #000;
	font-family: arial;
	font-size: 10px
}

.tabs label:after {
	content: '';
	background: #fff;
	position: absolute;
	right: -2px;
	top: 0;
	width: 2px;
	height: 100%;
}

.tabs input:hover+label {
	background: rgb(224, 224, 224); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(224, 224, 224, 1) 0%,
		rgba(237, 237, 237, 1) 99% ); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(224,
		224, 224, 1) ), color-stop(99%, rgba(237, 237, 237, 1) ) );
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(224, 224, 224, 1) 0%,
		rgba(237, 237, 237, 1) 99% ); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(224, 224, 224, 1) 0%,
		rgba(237, 237, 237, 1) 99% ); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(224, 224, 224, 1) 0%,
		rgba(237, 237, 237, 1) 99% ); /* IE10+ */
	background: linear-gradient(to bottom, rgba(224, 224, 224, 1) 0%,
		rgba(237, 237, 237, 1) 99% ); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#e0e0e0',
		endColorstr='#ededed', GradientType=0 ); /* IE6-9 */
}

.tabs label:first-of-type {
	z-index: 4;
}

.tab-label-2 {
	z-index: 3;
}

.tab-label-3 {
	z-index: 2;
}

.tab-label-4 {
	z-index: 1;
}

.tabs input:checked+label {
	background: rgb(224, 224, 224); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(224, 224, 224, 1) 0%,
		rgba(237, 237, 237, 1) 99% ); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(224,
		224, 224, 1) ), color-stop(99%, rgba(237, 237, 237, 1) ) );
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(224, 224, 224, 1) 0%,
		rgba(237, 237, 237, 1) 99% ); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(224, 224, 224, 1) 0%,
		rgba(237, 237, 237, 1) 99% ); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(224, 224, 224, 1) 0%,
		rgba(237, 237, 237, 1) 99% ); /* IE10+ */
	background: linear-gradient(to bottom, rgba(224, 224, 224, 1) 0%,
		rgba(237, 237, 237, 1) 99% ); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#e0e0e0',
		endColorstr='#ededed', GradientType=0 ); /* IE6-9 */
	z-index: 6;
	box-shadow: 0px 0px 2px #ccc;
	color: #000;
	font-family: arial;
	font-weight: bold;
	font-size: 10px
}

.clear-shadow {
	clear: both;
}

.content-tabs {
	background: #fff;
	position: relative;
	width: 575px;
	margin: -175px 0 0 120px;
	height: 480px;
	z-index: 5;
	overflow-x: hidden;
	overflow-y: scroll;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
	border-radius: 3px;
}

.content-tabs .content-inner {
	position: absolute;
	top: 0;
	padding: 10px 20px;
	z-index: 1;
	opacity: 0;
	-webkit-transition: all linear 0.5s;
	-moz-transition: all linear 0.5s;
	-o-transition: all linear 0.5s;
	-ms-transition: all linear 0.5s;
	transition: all linear 0.5s;
}

.content-tabs .content-inner {
	-webkit-transform: translateY(-450px);
	-moz-transform: translateY(-450px);
	-o-transform: translateY(-450px);
	-ms-transform: translateY(-450px);
	transform: translateY(-450px);
}

.tabs input.tab-selector-1:checked  ~ .content-tabs .content-1,.tabs input.tab-selector-2:checked 
	~ .content-tabs .content-2,.tabs input.tab-selector-3:checked  ~
	.content-tabs .content-3,.tabs input.tab-selector-4:checked  ~
	.content-tabs .content-4 {
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-o-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	z-index: 10;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity = 100);
	opacity: 1;
	-webkit-transition: all ease-out 0.3s 0.3s;
	-moz-transition: all ease-out 0.3s 0.3s;
	-o-transition: all ease-out 0.3s 0.3s;
	-ms-transition: all ease-out 0.3s 0.3s;
	transition: all ease-out 0.3s 0.3s;
}

.content-4 td input[type="text"],input[type="email"],input[type="phone"],textarea
	{
	padding: 10px;
	margin-left: 20px;
	font-family: arial;
	resize: none;
	width: 360px;
	margin-top: 5px;
}

.content-4 td input[type="submit"] {
	width: 380px;
	padding: 10px;
	margin-left: 20px;
	font-family: arial;
	resize: none;
	margin-top: 5px;
}

.content-4 td {
	font-family: arial;
	color: #999;
}

.content-tabs .content-inner h2,.content-tabs .content-inner h3 {
	color: #398080;
}

.content-tabs .content-inner p {
	font-size: 14px;
	/* line-height: 22px;
	font-style: italic; */
	text-align: left;
	margin: 0;
	color: #777;
	/* padding-left: 15px; */
	font-family: Cambria, Georgia, serif;
	/* border-left: 8px solid rgba(63,148,148, 0.1); */
}

.rel-report-item {
	width: 100%;
	height: 60px;
	box-shadow: 0px 0px 2px #000;
}

.report-title {
	width: 98%;
	height: 100px;
	margin: 5px auto;
	border: 1px solid #ccc;
}

.report-title h2 {
	font-family: arial;
	font-size: 14px;
	padding: 10px 0px 0px 10px;
	color: #666;
}

.report-title p {
	font-family: arial;
	font-size: 10px;
	padding: 5px 0px 0px 10px;
	color: #666;
}

.sidebar {
	width: 30%;
	height: 600px;
	box-shadow: 0px 0px 2px #ccc;
	float: left;
	background: #fff;
}

#rel-reports h2 {
	font-size: 12px;
	color: #999;
	font-family: arial;
	font-weight: bold;
	margin: 5px 0px 5px 0px;
}

#rel-reports p {
	margin-top: 2px;
	font-size: 10px;
	color: #474747;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
}

.clear {
	clear: both;
}

.latest-report-title {
	width: 98%;
	height: 40px;
	margin: 5px auto;
	border: 1px solid #ccc;
	background: #78AB9F;
	color: #fff;
}

.latest-report-title h2 {
	font-family: arial;
	font-size: 16px;
	padding: 10px 0px 0px 10px;
	/* color:#fff;	 */
}

.latest-report-title p {
	margin-top: 2px;
	font-size: 10px;
	color: #474747;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
}

.latest-report-item {
	width: 98%;
	height: 80px;
	margin: 5px auto;
	border: 1px solid #ccc;
	background: rgb(244, 244, 244); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(244, 244, 244, 1) 0%,
		rgba(239, 239, 239, 1) 100% ); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(244,
		244, 244, 1) ), color-stop(100%, rgba(239, 239, 239, 1) ) );
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(244, 244, 244, 1) 0%,
		rgba(239, 239, 239, 1) 100% ); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(244, 244, 244, 1) 0%,
		rgba(239, 239, 239, 1) 100% ); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(244, 244, 244, 1) 0%,
		rgba(239, 239, 239, 1) 100% ); /* IE10+ */
	background: linear-gradient(to bottom, rgba(244, 244, 244, 1) 0%,
		rgba(239, 239, 239, 1) 100% ); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#f4f4f4',
		endColorstr='#efefef', GradientType=0 ); /* IE6-9 */
}

.latest-report-item:hover {
	background: rgb(239, 239, 239); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(239, 239, 239, 1) 0%,
		rgba(244, 244, 244, 1) 100% ); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(239,
		239, 239, 1) ), color-stop(100%, rgba(244, 244, 244, 1) ) );
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(239, 239, 239, 1) 0%,
		rgba(244, 244, 244, 1) 100% ); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(239, 239, 239, 1) 0%,
		rgba(244, 244, 244, 1) 100% ); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(239, 239, 239, 1) 0%,
		rgba(244, 244, 244, 1) 100% ); /* IE10+ */
	background: linear-gradient(to bottom, rgba(239, 239, 239, 1) 0%,
		rgba(244, 244, 244, 1) 100% ); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#efefef',
		endColorstr='#f4f4f4', GradientType=0 ); /* IE6-9 */
	cursor: pointer;
}

.latest-report-item h2 {
	font-family: arial;
	font-size: 14px;
	padding: 10px 0px 0px 10px;
	color: #666;
}

.latest-report-item p {
	font-family: arial;
	font-size: 10px;
	padding: 5px 0px 0px 10px;
	color: #666;
}

.pagination {
	width: 28%;
	height: 40px;
	float: right;
	/* box-shadow:0px 0px 2px #ccc; */
}

.page-no {
	width: 30px;
	/* height:30px; */
	padding: 5px;
	text-align: center;
	box-shadow: 0px 0px 2px #ccc;
	float: left;
	margin: 5px 0px 5px 5px;
	background: rgb(242, 242, 242); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(242, 242, 242, 1) 0%,
		rgba(226, 226, 226, 1) 100% ); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(242,
		242, 242, 1) ), color-stop(100%, rgba(226, 226, 226, 1) ) );
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(242, 242, 242, 1) 0%,
		rgba(226, 226, 226, 1) 100% ); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(242, 242, 242, 1) 0%,
		rgba(226, 226, 226, 1) 100% ); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(242, 242, 242, 1) 0%,
		rgba(226, 226, 226, 1) 100% ); /* IE10+ */
	background: linear-gradient(to bottom, rgba(242, 242, 242, 1) 0%,
		rgba(226, 226, 226, 1) 100% ); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#f2f2f2',
		endColorstr='#e2e2e2', GradientType=0 ); /* IE6-9 */
	box-shadow: 0px 0px 2px #aaa;
	font-size: 12px;
	font-family: arial;
	cursor: pointer;
}

.page-no:hover {
	background: #fff;
}

.cat-pub {
	width: 40%;
	float: left;
	/* box-shadow:0px 0px 2px #ccc; */
}

.report-buttons {
	width: 25%;
	float: right;
}

.view-report,.read-news {
	width: 80px;
	/* height:20px; */
	float: right;
	margin: 0px 5px 0px 0px;
	text-align: center;
	background: rgb(124, 214, 139); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(124, 214, 139, 1) 0%,
		rgba(107, 186, 112, 1) 100% ); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(124,
		214, 139, 1) ), color-stop(100%, rgba(107, 186, 112, 1) ) );
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(124, 214, 139, 1) 0%,
		rgba(107, 186, 112, 1) 100% ); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(124, 214, 139, 1) 0%,
		rgba(107, 186, 112, 1) 100% ); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(124, 214, 139, 1) 0%,
		rgba(107, 186, 112, 1) 100% ); /* IE10+ */
	background: linear-gradient(to bottom, rgba(124, 214, 139, 1) 0%,
		rgba(107, 186, 112, 1) 100% ); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#7cd68b',
		endColorstr='#6bba70', GradientType=0 ); /* IE6-9 */
	color: #fff;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
	border: 3px solid #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 2px #ccc;
}

.view-report a,.read-news a {
	text-decoration: none;
	color: white;
}

.view-report:hover,.read-news:hover {
	background: rgb(120, 171, 159); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(120, 171, 159, 1) 0%,
		rgba(105, 147, 136, 1) 100% ); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(120,
		171, 159, 1) ), color-stop(100%, rgba(105, 147, 136, 1) ) );
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(120, 171, 159, 1) 0%,
		rgba(105, 147, 136, 1) 100% ); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(120, 171, 159, 1) 0%,
		rgba(105, 147, 136, 1) 100% ); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(120, 171, 159, 1) 0%,
		rgba(105, 147, 136, 1) 100% ); /* IE10+ */
	background: linear-gradient(to bottom, rgba(120, 171, 159, 1) 0%,
		rgba(105, 147, 136, 1) 100% ); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#78ab9f',
		endColorstr='#699388', GradientType=0 ); /* IE6-9 */
	border: 3px solid #eee;
	border-radius: 5px;
	box-shadow: none;
}

.read-news {
	width: 100px;
}

.about-us {
}

.about-us {
	font-family: arial;
	font-size: 12px;
	color: #666;
	text-align: justify;
	width: 95%;
	height: auto;
	margin: 5px auto;
	border: 1px solid #ccc;
}

.contact-content {
	width: 100%;
	height: 680px;
	box-shadow: 0px 0px 2px #000;
	font-family: arial;
}

.contact-form {
	width: 50%;
	float: left;
	height: 270px;
}

.contact-form td {
	font-size: 12px;
	font-weight: bold;
}

.contact-form td input[type="text"],input[type="email"],input[type="phone"],textarea
	{
	padding: 10px;
	margin-left: 20px;
	font-family: arial;
	resize: none;
	width: 360px;
	margin-top: 5px;
}

.contact-form td input[type="submit"] {
	width: 120px;
	padding: 5px;
	float: right;
	margin-left: 20px;
	font-family: arial;
	resize: none;
	margin-top: 5px;
	background: rgb(107, 186, 112); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(107, 186, 112, 1) 0%,
		rgba(107, 186, 112, 1) 100% ); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(107,
		186, 112, 1) ), color-stop(100%, rgba(107, 186, 112, 1) ) );
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(107, 186, 112, 1) 0%,
		rgba(107, 186, 112, 1) 100% ); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(107, 186, 112, 1) 0%,
		rgba(107, 186, 112, 1) 100% ); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(107, 186, 112, 1) 0%,
		rgba(107, 186, 112, 1) 100% ); /* IE10+ */
	background: linear-gradient(to bottom, rgba(107, 186, 112, 1) 0%,
		rgba(107, 186, 112, 1) 100% ); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#6bba70',
		endColorstr='#6bba70', GradientType=0 ); /* IE6-9 */
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	border: none;
	border-radius: 5px;
}

.map {
	box-shadow: none;
}

.address-sec {
	width: 50%;
	float: left;
	height: 270px;
	/* box-shadow:0px 0px 2px #000; */
}

.address-sec td {
	vertical-align: top;
	padding: 10px;
	font-size: 14px;
}

.sidebar-head {
	width: 100%;
	height: 40px;
	background: rgb(242, 242, 242); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(242, 242, 242, 1) 0%,
		rgba(232, 232, 232, 1) 100% ); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(242,
		242, 242, 1) ), color-stop(100%, rgba(232, 232, 232, 1) ) );
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(242, 242, 242, 1) 0%,
		rgba(232, 232, 232, 1) 100% ); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(242, 242, 242, 1) 0%,
		rgba(232, 232, 232, 1) 100% ); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(242, 242, 242, 1) 0%,
		rgba(232, 232, 232, 1) 100% ); /* IE10+ */
	background: linear-gradient(to bottom, rgba(242, 242, 242, 1) 0%,
		rgba(232, 232, 232, 1) 100% ); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#f2f2f2',
		endColorstr='#e8e8e8', GradientType=0 ); /* IE6-9 */
}

.sidebar-head h3 {
	padding: 10px;
	font-family: arial;
	color: #999;
	font-size: 16px;
}

.sidebar-box {
	height: 350px;
	width: 100%;
	box-shadow: 0px 0px 2px #ccc;
}

.sidebar-single-item {
	width: 94%;
	height: 57px;
	box-shadow: 0px 0px 2px #ccc;
	padding: 10px;
	font-family: arial;
	font-size: 14px;
	padding: 10px 0px 0px 10px;
	color: #666;
	font-weight: bold;
}

.credits {
	color: black;
	font-size: 12px;
	margin-left: 15px;
}

.category-page {
	width: 70%;
	float: left;
	background: #fff;
	height: 700px;
}

.category-title {
	width:98%;
	height:40px;
	margin:5px auto;
	border:1px solid #ccc;
	background:#78AB9F;
	color:#fff;
}

.category-title h2 {
	font-family:arial;
	font-size:16px;
	padding: 10px 0px 0px 10px;
	/* color:#fff;	 */
}

.category-page table {
	width:98%;
	margin:0 auto;
	border-bottom:1px solid #ccc;
}

.category-page table th {
	font-family:arial;
	text-align:left;
	padding-bottom:5px;
}

.category-page tr td{
	text-align:left;
	font-family:arial;
	font-size:12px;
	width:200px;
}

.global-cat {
       width:98%;
       height:auto;
       margin:0 auto;
      /*  box-shadow:0px 0px 2px #000; */
}

.child-cat {
       width:33%;
      /*  height:50px; */
       float:left;
       margin:0 auto;
      /*  box-shadow:0px 0px 2px #000; */
      font-size:14px;
      font-family:arial;
}



.par-cat {
       width:100%;
       /* height:50px; */
       margin:0 auto;
       /* box-shadow:0px 0px 2px #000; */
       /* font-size:24px; */
       font-weight:bold;
       float:left;
       margin-top:20px;
       font-family:arial;
}
